$gutter: 2rem;

@mixin clearfix {
  *zoom: 1;
  &::before,
  &::after {
      content: " ";
      display: table;
  }

  &::after {
      clear: both;
  }
}


// Media queries
// Simple centered box
  @media (min-width : 20rem) {
  %sham-single-panel {
    margin-top: 2rem;
    float: none;
    margin: 0 auto;
    max-width: 20rem;
    padding-left: 0;
    padding-right: 0;
    @include clearfix;
  }

  @media (min-width : 60rem) {
    %sham-single-panel {
      max-width: 100rem;
    }
  }
}

// Golden ratio columns

@media (min-width : 20rem) {
  %sham-narrow {
    float: none;
    margin: 0 auto;
    min-width: 20rem;
  }

  %sham-wide{
    margin-top: 2rem;
    float: none;
    margin: 0 auto;
    padding-left: 0;
    min-width: 20rem;
    @include clearfix;
  }
}

@media (min-width : 60rem) {

  %sham-narrow {
    float: left;
    width: 30%;
    min-width: 0;
    padding-right: $gutter * .5;
  }

  %sham-wide {
    float: left;
    padding-left: $gutter * .5;
    width: 70%;
    min-width: 0;
  }
}


// Traditional ratio columns

@media (min-width : 20rem) {
  %sham-sidebar {
    float: none;
    margin: 0 auto;
    min-width: 20rem;
  }

  %sham-main{
    margin-top: 2rem;
    float: none;
    margin: 0 auto;
    padding-left: 0;
    min-width: 20rem;
    @include clearfix;
  }
}

@media (min-width : 60rem) {

  %sham-sidebar {
    float: left;
    width: 20%;
    min-width: 0;
    padding-right: $gutter * .5;
  }

  %sham-main {
    float: left;
    padding-left: $gutter * .5;
    width: 80%;
    min-width: 0;
  }
}



// Half columns
// tiny screens

@media (min-width : 20rem) {
  %sham-half {
    margin-top: 2rem;
    float: none;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    min-width: 20rem;
    @include clearfix;
  }
}

@media (min-width : 60rem) {
  %sham-half {
    float: left;
    width: 50%;
    min-width: 0;
    &:first-child {
      padding-right: $gutter * .5;
    }
    &:last-child {
      padding-left: $gutter * .5;
    }
  }
}

// Third columns

@media (min-width : 20rem) {
  %sham-third {
    margin-top: 2rem;
    float: none;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    min-width: 20rem;
    @include clearfix;
  }
}

@media (min-width : 60rem) {
  %sham-third {
    float: left;
    width: 33.33%;
    min-width: 20px;

    &:nth-of-type(1) {
      clear: left;
      padding-left: 0;
      padding-right: $gutter * .5;
    }
    &:nth-of-type(2){
      padding-left: $gutter * .5;
      padding-right: $gutter * .5;
    }
    &:nth-of-type(3){
      padding-left: $gutter * .5;
      padding-right: 0;
    }
  }
}
